  <?xml version="1.0" encoding="utf-8"?>
  <configuration>
  <appSettings>
<add key="IssueSystemUrl" value="http://online.azi.allianzit/jira/"/>
<add key="MailServiceUrl" value="https://cas01.servizi.allianzit/EWS/Exchange.asmx"/>

<add key="TrackingSystemCompany" value="AlmAllianz"/>
<add key="TrackingSystemUrl" value="http://alm.azi.allianzit/tfs"/>
    </configuration>
  </appSettings>
    