@{
    ViewBag.Title = "React App Demo";
}

<h2>@ViewBag.Title</h2>
<div>
    <section>
        <div id="jsxcontent"></div>
    </section>

    @Scripts.Render("~/bundles/react")
    <!-- ref: https://dev.to/luispagarcia/lets-try-react-without-nodejs-3a7 -->
    <script type="application/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
    <!--ref: https://github.com/babel/babel-standalone/issues/60 -->
    <script data-plugins="transform-es2015-modules-umd" type="text/babel" src="~/Scripts/React/Components/ShoppingList.jsx">
    </script>
    <script data-plugins="transform-es2015-modules-umd" type="text/babel" src="@Url.Content("~/Scripts/React/app.jsx")">
    </script>
</div>
