<section id="menuSettings" >
    <ul class="list-group">
        <li class="list-group-item">@Html.ActionLink("Credentials", "Credentials", "Account")</li>
        <li class="list-group-item">@Html.ActionLink("Mail", "Mail", "Account")</li>
        <li class="list-group-item">@Html.ActionLink("Defect", "Defect", "Account")</li>
        <li class="list-group-item">@Html.ActionLink("Issue", "Issue", "Account")</li>
    </ul>
</section>
