@{
    ViewBag.Title = "About this application";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>MVC ASP.NET web application based, used by <strong>Quality Management</strong> to handle SRM Request and TFS Defect</p>
<p>Grant access to Quality Management - IssueVita Exchange shared folder and <a href="@ViewBag.TfsProjectUrl" target="_blank">TFS Vita</a> Defect.</p>

