@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Del Favero Dante (Leased Employee)<br />
    Quality Management – IT Vita<br />

    <strong>Sistemi Informativi di Gruppo</strong><br />
    Palazzina B - 2' Piano<br />    
    Allianz S.p.A. - Trieste<br />
    <abbr title="Phone">Tel.</abbr> +39 040 7781084<br />      
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dante.delfavero@allianz.it">dante.delfavero AT allianz.it</a><br />
</address>